################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/logs
__pycache__
/DB_example/__pycache__
/testes/__pycache__